body {
    background-color: #fffbdb;
    color: #006c67;
    margin-left: 75px;
}

h1 {
    border-color: yellow;
    border-width: 3px;
    border-style: solid;
}

h2{
    background-color: #e4e3d3
}

main{
    margin-right: 100px;
}
